/* CSS Styles */

/* reset browser styles*/
html {
    box-sizing: inherit;
    font-size: 16px;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
}

ol,
ul {
    list-style: none;
}

img {
    width: 100px;
    height: auto;
    margin-right: 20px;
    /* opacity: .4;
    background-color: #EFEE9D;
    padding: 10px;
    border-radius: 50%; */
}

/* page */

body {
    width: 100vw;
    overflow-y: scroll;
    background-color: #f9fcff;
    background-image: linear-gradient(147deg, #f9fcff 0%, #dee4ea 74%);
}

::-webkit-scrollbar {
    display: none;
}

main {
    min-width: 350px;
    height: 100vh;
    margin: 0 auto;
}

/* content */

header {
    width: 100vw;
    padding: 30px;
    border-bottom: 3px dashed #E0C3FC;
    border-radius: 40px;
    display: flex;
    align-items: center;
    background-color: #ffffff;
}

h1 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-bottom: 10px;
    font-size: 2.5rem;
    font-weight: 600;
    color: #A5CDE4;
}

p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #a4a4a4    ;
}

.boxContainer {
    padding: 40px;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat( auto-fill, minmax(150px, 1fr) );
    grid-template-rows: repeat(auto, minmax(80px, 1fr));
    gap: 40px;
    justify-content: center;
}

.linkButton {
    padding: 20px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1.3rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .4s ease-in-out;
    background-image: linear-gradient(63deg, #8EC5FC 0%, #E0C3FC);
    opacity: .8;
    color: #ffffff;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

.linkButton:hover {
    opacity: 1;
}
